<!-- <div class="main-messages">
  <p *ngif="messages.length == 0">Aucune personne active</p>

  <div *nfor="let msg of messages">
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>{{msg.auteur.prenom}} a écrit le {{msg.date | date: "dd/MM/yyyy HH:mm"}}</mat-card-title>

        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
      <mat-card-content> {{msg.coprs}}</mat-card-content>
    </mat-card>
  </div>

  <app-users-list></app-users-list>
</div> -->

<input type="search" name="" id="">

<p *ngIf="messages.length == 0">Aucune personne active</p>

<div *ngIf="messages.length > 0">
  <div *ngFor="let msg of messages">
    <fieldset>
      <legend>{{msg.auteur.prenom}} a écrit le
        {{msg.date | date:'dd/MM/yyyy HH:mm'}}
      </legend>
      <p>
        {{msg.corps}}
      </p>
    </fieldset>
  </div>
</div>