.material-form {
  margin-left: 1rem;
  text-align: left;
  width: 500px;
}

.input-de, .input-message {
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  transition: all 0.3s ease;
}

.input-message {
  padding: 3rem;
}
