<form
  class="material-form"
  #msgForm="ngForm"
  (ngSubmit)="onSubmit(msgForm.value); msgForm.reset()"
  novalidate
>
  <div class="example-container">
    <mat-form-field appearance="fill"
      >De :
      <mat-label></mat-label>
      <input
        matInput
        placeholder="John"
        type="text"
        class="input-de"
        ngModel
        required
        name="auteur"
        id="auteur"
      />
      <p *ngIf="errorUser === null" class="errorForm">
        {{ errorUser }}
      </p>
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field appearance="fill"
      >Message :
      <mat-label></mat-label>
      <textarea
        name="message"
        id="message"
        cols="30"
        rows="10"
        class="input-de"
        ngModel
        required
      ></textarea>
      <p *ngIf="errorMessage === null" class="errorForm">
        {{ errorMessage }}
      </p>
    </mat-form-field>
  </div>
  <div class="example-button-row">
    <button class="btnForm valider">Valider</button>
    <button class="btnForm annuler">Annuler</button>
  </div>
</form>
